
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/reports/report.html/
//reports/report.json/

# Environment variables
env/.env

# Test Reports
reports/